.DS_Store
node_modules
nodejsnpm 
nodejsnpm/_cacache/
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
nodejsnpm/_cacache/index-v5/08/b5/4b78a1ebd27e10f9fec5fdb0219a41f3f79937367a86d453df5f0d079bc7
